{% extends "base.html" %}
{% block title %}WebRefine{% endblock %}
{% block head  %}
<link rel="stylesheet" type="text/css" href="/static/lib/ext/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/ext/examples/shared/example.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/ext/bootstrap.js"></script>
    <script type="text/javascript" src="/static/lib/socket.io-0.9.6/socket.io.js"></script>
    <script type="text/javascript" src="/static/webrefine/lib/tabletest.js"></script>

{% endblock %}
{% block content %}
		    <p>
		    Hello World!
		    </p>
		    
		    <div id="tabs"></div>
{% endblock %}
